karyotype = genomeViz//HistocapJBHc042430.kar
chromosomes_units = 100000

<<include colors_fonts_patterns.conf>>
<<include housekeeping.conf>>

# IMAGE
<image>
<<include image.conf>>
radius*             = 1800p
</image>

# IDEOGRAM
# IDEOGRAM
<ideogram>
	<spacing>
	default = 2u
	break = 2u
	</spacing>

	# thickness and color of ideograms
	thickness          = 300p
	stroke_thickness   = 1
	stroke_color       = black

	# the default chromosome color is set here and any value
	# defined in the karyotype file overrides it
	fill               = yes
	fill_color         = b3b1b2


	# fractional radius position of chromosome ideogram within image
	radius             = 0.6r
	show_label         = yes
	label_font         = default
	label_parallel   = no
	label_radius       = dims(ideogram,radius) - 0.8r
	label_size         = 26
 
	# show_bands determines whether the outline of cytogenetic bands will be seen
	show_bands         = yes
	band_stroke_thickness = 1

	# in order to fill the bands with the color defined in the karyotype file you must set fill_bands
	fill_bands         = no
	band_transparency  = 1
</ideogram>

show_ticks         = yes
show_tick_labels   = yes
 
<ticks>
tick_label_font    = light
radius             = dims(ideogram,radius_outer)
label_offset       = 8p
label_size         = 24p
color              = black
thickness          = 2p

	<tick>
	# every 250kb
	show_ticks         = yes
	skip_first_label = no
	spacing           = 2.5u
	size              = 10p
	show_label        = no
	label_size        = 24
	thickness         = 6p
	color             = greys-5-seq-3
	</tick>

	<tick>
	# every 1mb
	show_ticks         = yes
	skip_first_label = no
	spacing           = 10u
	size              = 10p
	show_label        = yes
	multiplier        = 0.1/1u
	format            = %d mb
	label_size        = 18
	thickness         = 6p
	color             = greys-5-seq-3
	</tick>

</ticks>

<highlights>
</highlights>
<plots>
</plots>
