karyotype = pairViz//Histocap327P12_s02021_vs_HistocapHISSPFGBIK2051_267.kar
chromosomes_units = 10000

<<include colors_fonts_patterns.conf>>
<<include housekeeping.conf>>

chromosomes_reverse = /HistocapHISSPFGBIK2051_267/

# IMAGE
<image>
<<include image.conf>>
</image>

# IDEOGRAM
<ideogram>
<spacing>
default = 3u
break = 3u
</spacing>
radius           = 0.50r
thickness        = 200p
fill             = yes
stroke_color     = black
stroke_thickness = 2p
show_label       = yes
label_parallel   = yes
label_radius     = 1.3r
label_size       = 36p

</ideogram>
show_ticks         = yes
show_tick_labels   = yes
 
<ticks>
tick_label_font    = light
radius             = dims(ideogram,radius_outer)
label_offset       = 12p
label_size         = 24p
color              = black
thickness          = 2p

	<tick>
	show_ticks         = yes
	skip_first_label = no
	spacing           = 5u
	size              = 12p
	show_label        = yes
	label_size        = 32p
	multiplier        = 10/1u
	format            = %d kb
	thickness         = 8p
	color             = greys-5-seq-3
	</tick>

	<tick>
	show_ticks         = yes
	skip_first_label = no
	spacing           = 1u
	size              = 12p
	show_label        = no
	thickness         = 8p
	color             = greys-5-seq-3
	</tick>

</ticks>

# LINKS
<links>
<link>
file                = pairViz//Histocap327P12_s02021_vs_HistocapHISSPFGBIK2051_267.links.tsv
radius              = 0.95r
ribbon              = yes
color               = white
stroke_color        = black
stroke_thickness    = 0.5p
</link>
</links>

# element regions as highlight
<highlights>
 <highlight>
 file       = pairViz//Histocap327P12_s02021_vs_HistocapHISSPFGBIK2051_267.coords
 fill_color = ff264e
 stroke_color = black
 stroke_thickness = 14
 ideogram   = yes
 </highlight>
</highlights>

# Labels of element regions
<plots>
 <plot>
 type             = text
 color            = ff264e
 file             = pairViz//Histocap327P12_s02021_vs_HistocapHISSPFGBIK2051_267.labels
 r0 = 1r
 r1 = 1r + 2000p
 show_links     = yes
 link_dims      = 0p,0p,40p,0p,20p
 link_thickness = 14
 link_color     = black
 label_size   = 36p
 label_font   = default
 padding  = 0p
 rpadding = 0p
 </plot>
 

</plots>

